:host {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --text-color: rgba(255, 255, 255, 0.78);
  --body-container-background-color: transparent;
  --progress-text-color: rgba(255, 255, 255, 0.78);
  --answer-background-color: transparent;

  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: rgba(255, 152, 20, 1);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 170, 24, 1);
}

svg.material-icons {
  height: 24px;
  width: auto;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(48, 48, 48, 1);
  font-weight: 600;
}

.toolbar span {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding-bottom: 10px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  margin-left: 4px;
  font-weight: 600;
  background-color: rgba(48, 48, 48, 1);
  color: rgba(255, 152, 20, 1);
}

.github-star-badge:hover {
  color: rgba(255, 152, 20, 1);
  background-color: rgba(48, 48, 48, 1);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  fill: var(--text-color);
}

.spacer {
  flex: 1;
}
