h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: var(--sjs-primary-backcolor, var(--primary, #19b394));
  text-decoration: none;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--sjs-questionpanel-backcolor, var(--sjs-question-background, var(--sjs-general-backcolor, var(--background, #fff))));
  font-weight: 600;
}

.toolbar span {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding-bottom: 10px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: var(--sjs-primary-backcolor, var(--primary, #19b394));
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  margin-left: 4px;
  font-weight: 600;
  background-color: var(--sjs-general-backcolor, var(--background, #fff));
}

.github-star-badge:hover {
  border-color: var(--sjs-primary-backcolor, var(--primary, #19b394));
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  fill: var(--sjs-primary-backcolor, var(--primary, #19b394));
}

.spacer {
  flex: 1;
}
